.apiario-container {
  background-color: white;
  min-width: 100%;

  border: 4px solid #ebad55;
  border-radius: 10px;
}

table {
  min-width: 100%;
}
td {
  border: 2px solid black;
  padding-left: 0.5px;
}

thead tr {
  font-size: 0.8em;
  background-color: gainsboro;
  font-weight: 700;
  text-align: center;
}
tbody td {
  font-size: 1em;
  padding: 5px;
}

.b-func {
  margin: 2px 8px 10px 10px;
}

.functions {
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.apiarios-news {
  max-width: 100%;
  overflow: scroll;
  margin: 10px;
}
